.breadcrumb-container {
  background-color: #e8eef2;
}

.breadcrumb {
  display: flex;
  list-style: none;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem;
}

.breadcrumb-item {
  margin: 0;
  padding: 8px 0;
}

.breadcrumb-item > a {
  color: #0c7b24;
  text-decoration: none;
}
.breadcrumb-item > a:hover {
  text-decoration: underline;
}
